body{
  background-color: rgb(50, 255, 255);
  margin: 6pc;
  text-align: center;
}
h1, p{
  font-family: sans-serif;
}
h1{
  font-size: 85px;
  text-shadow: 5px 5px 5px lime;
}
p{
  font-family: monospace;
  font-size: 55px;
  text-shadow: 5px 5px 5px lime;
}